<h1>Ajax#home</h1>
<p>Find me in app/views/ajax/home.html.erb</p>
<button id="list-todos" type="button">List todos</button>
<br>
<label>title</label>
<input id="todo-title">
<label>created by</label>
<input id="todo-created-by">
<button id="create-todo" type="button">Create todo</button>
<br>
<div id="results-div"></div>
<label>Parent ID</label>
<input id="list-items-parent">
<button id="list-items" type="button">List Items</button>
<br>
<label>Parent ID</label>
<input id="create-item-parent">
<label>Item Name</label>
<input id="set-item-name">
<label>Is it done?</label>
<input type="checkbox" id="set-item-done">
<button id="create-item" type="button">Create Item</button>
<br>
<div id="result-item"></div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {

    console.log('DOM fully loaded and parsed');

    const resultsDiv = document.getElementById('results-div');
    const listTodosButton = document.getElementById('list-todos');
    const createTodoButton = document.getElementById('create-todo');
    const todoTitle = document.getElementById('todo-title');
    const todoCreatedBy = document.getElementById('todo-created-by');
    const listItems = document.getElementById('list-items');
    const listItemsParent = document.getElementById('list-items-parent');
    const createItem = document.getElementById('create-item');
    const createItemParent = document.getElementById('create-item-parent');
    const setItemName = document.getElementById('set-item-name');
    const setItemDone = document.getElementById('set-item-done');
    const restultItem = document.getElementById('result-item'); 


    listTodosButton.addEventListener('click', (event) => { 
      let eventRequest = new XMLHttpRequest(); 
      eventRequest.onreadystatechange = () => { 
        if (eventRequest.readyState === XMLHttpRequest.DONE) { 
          if (eventRequest.status === 200) { 
            resultsDiv.innerHTML=''; 
            let jsonArr = JSON.parse(eventRequest.responseText); 
            for (let i=0; i<jsonArr.length; i+=1) {
              let parag = document.createElement('P');
              parag.textContent = JSON.stringify(jsonArr[i]); 
              resultsDiv.appendChild(parag);
            }
          } else {
            alert(`Return code ${eventRequest.status} ${eventRequest.statusText}`);
          }
        }
      };
      eventRequest.open('GET', 'http://localhost:3001/todos'); 
      eventRequest.send(); 
    });

    listItems.addEventListener('click', (event) => { 
      let eventRequest = new XMLHttpRequest(); 
      eventRequest.onreadystatechange = () => { 
        if (eventRequest.readyState === XMLHttpRequest.DONE) { 
          if (eventRequest.status === 200) {
            restultItem.innerHTML=''; 
            let jsonArr = JSON.parse(eventRequest.responseText); 
            for (let i=0; i<jsonArr.length; i+=1) {
              let parag = document.createElement('P');
              parag.textContent = JSON.stringify(jsonArr[i]); 
              restultItem.appendChild(parag);
            }
          } else {
            alert(`Return code ${eventRequest.status} ${eventRequest.statusText}`);
          }
        }
      };
      eventRequest.open('GET', `http://localhost:3001/todos/${listItemsParent.value}/items/`); 
      eventRequest.send(); 
    }); 

    createTodoButton.addEventListener('click', (event) => {
      let eventRequest = new XMLHttpRequest();
      eventRequest.onreadystatechange = () => {
        if (eventRequest.readyState === XMLHttpRequest.DONE) {
          if (eventRequest.status === 201) { 
            resultsDiv.textContent=eventRequest.responseText; 
          } else {
            alert(`Return code ${eventRequest.status} ${eventRequest.statusText} ${eventRequest.responseText}`); 
          }
        }
      };
      eventRequest.open('POST', 'http://localhost:3001/todos'); 
      eventRequest.setRequestHeader("Content-Type", "application/json"); 
      let dataToSend = `{"title": "${todoTitle.value}", "created_by": "${todoCreatedBy.value}"}`; 
      console.log("sending data:",dataToSend);
      eventRequest.send(dataToSend);
    });

    createItem.addEventListener('click', (event) => {
      let eventRequest = new XMLHttpRequest();
      eventRequest.onreadystatechange = () => {
        if(eventRequest.readyState === XMLHttpRequest.DONE) {
          if  (eventRequest.status === 201) { 
            restultItem.textContent=eventRequest.responseText; 
          } else {
            alert(`Return code ${eventRequest.status} ${eventRequest.statusText} ${eventRequest.responseText}`); 
          }
        }
      };
      eventRequest.open('POST', `http://localhost:3001/todos/${createItemParent.value}/items/`); 
      eventRequest.setRequestHeader("Content-Type", "application/json"); 
      let dataToSend = `{"name": "${setItemName.value}", "done": "${setItemDone.checked}"}`; 
      console.log("sending data:",dataToSend)
      eventRequest.send(dataToSend);
    });
  });
</script>
